{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "alpha-value-notation": "number",
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "at-rule-no-vendor-prefix": true,
    "color-function-notation": "legacy",
    "color-hex-length": "long",
    "color-named": "never",
    "comment-empty-line-before": [
      "always",
      {
        "ignore": [
          "stylelint-commands"
        ]
      }
    ],
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-missing-generic-family-keyword": null,
    "font-weight-notation": "numeric",
    "function-url-quotes": "always",
    "no-descending-specificity": null,
    "no-unknown-animations": true,
    "property-no-vendor-prefix": true,
    "selector-class-pattern": "^[a-z0-9]+(-[a-z0-9]+)*(__[a-z]+)?(--[a-z]+)?$",
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true
  }
}
