@import "material-icons/iconfont/material-icons.css";

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../../src/assets/fonts/Montserrat-Light.woff2") format("woff2");
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../../src/assets/fonts/Montserrat-Regular.woff2") format("woff2");
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../../src/assets/fonts/Montserrat-Medium.woff2") format("woff2");
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../../src/assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../../src/assets/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url("../../src/assets/fonts/SourceSansPro-ExtraLight.ttf.woff2")
    format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../../src/assets/fonts/SourceSansPro-Light.ttf.woff2")
    format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../../src/assets/fonts/SourceSansPro-Regular.ttf.woff2")
    format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("../../src/assets/fonts/SourceSansPro-Semibold.ttf.woff2")
    format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("../../src/assets/fonts/SourceSansPro-Bold.ttf.woff2")
    format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("../../src/assets/fonts/SourceSansPro-Black.ttf.woff2")
    format("woff2");
}
