/* General (All Pages) */
@import "~/floating-vue/dist/style.css";
@import "material-icons/iconfont/material-icons.css";
@import "tooltip";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  font-weight: 400;
  color: #ffffff;
  overflow: hidden;
  user-select: none;
}

a:not([draggable="true"]),
img:not([draggable="true"]) {
  -webkit-user-drag: none;
}

#wrapper {
  height: 100vh;
  position: relative;
  border-radius: 8px;
  background: #131313;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  background-size: cover;
  flex-direction: column;
  transition: filter ease-in-out 0.2s;
}

header {
  text-align: right;
  border-radius: 8px 8px 0 0;
  height: 100px;
  font-size: 0;
  background-color: #101010;
  transition: all 0.2s ease-in-out;
  -webkit-app-region: drag;
  width: calc(100% - 85px);
}

.menu-btns {
  height: 100%;

  // margin-right: 85px;
}

main {
  flex: 1;
  overflow-y: hidden;
  -webkit-app-region: no-drag;
  background-color: #131313;
}

footer {
  padding: 8px 2.35vw;
  text-align: left;
  background: #101010;
  border-radius: 0 0 8px 8px;
  -webkit-app-region: no-drag;
}

.title {
  font-size: 25px;
  font-weight: 600;
  padding: 4px 10px;
  margin-bottom: 10px;
  border-left: 2px solid rgb(255, 209, 0);
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  position: relative;
  top: 4px;
  display: inline-block;
  line-height: 1;
  width: auto;
  height: 1.4em;
  margin-right: 3px;
}

.footer-logo {
  color: #777777;
  font-size: 18px;
  margin-right: 8px;
  cursor: pointer;

  &:hover {
    color: #e6e6e6;
  }
}

.hidden {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.label-issue {
  font-size: 16px;
  vertical-align: top;
  line-height: 32px;
  color: #ff3333;
  transition: all 0.1s ease-in-out;
}

button,
select,
input,
.fakeinput {
  font-weight: 500;
}
