<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>/public/favicon.ico" />
    <title>WeakAuras Companion</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but weakauras-companion doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app">
      <!-- Set `__static` path to static files in production -->
      <% if (!htmlWebpackPlugin.options.isBrowser &&
      !htmlWebpackPlugin.options.isDevelopment) { %>
      <script>
        window.__static = require("path")
          .join(__dirname, "/public")
          .replace(/\\/g, "\\\\");
      </script>
      <% } %>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
