name: Linux Build
on:
  push:
    branches:
      - master
    tags:
      - "*"
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ["10", "12"]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        run: yarn
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn dist
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}

      - name: Package Artifacts
        run: |
          mkdir artifact-appimage
          mv dist_electron/*.AppImage artifact-appimage/ || true
          mkdir artifact-snap
          mv dist_electron/*.snap artifact-snap/ || true

      - uses: actions/upload-artifact@master
        name: Upload AppImage
        with:
          name: Linux .AppImage
          path: artifact-appimage

      - uses: actions/upload-artifact@master
        name: Upload Snap
        with:
          name: Linux .snap
          path: artifact-snap

      - uses: actions/upload-artifact@master
        name: Upload Tarball
        with:
          name: Linux Tarball
          path: dist_electron/linux-unpacked
