name: Linux Build
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ["12"]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run dist:pr

      - uses: actions/upload-artifact@v2
        name: Upload AppImage
        with:
          name: WeakAuras-Companion-PRCI-AppImage
          path: dist_electron/*.AppImage

      - uses: actions/upload-artifact@v2
        name: Upload Snap
        with:
          name: WeakAuras-Companion-PRCI-Snap
          path: dist_electron/*.snap

      - uses: actions/upload-artifact@v2
        name: Upload deb
        with:
          name: WeakAuras-Companion-PRCI-deb
          path: dist_electron/*.deb

      - uses: actions/upload-artifact@v2
        name: Upload rpm
        with:
          name: WeakAuras-Companion-PRCI-rpm
          path: dist_electron/*.rpm
