name: macOS Build
on:
  push:
    branches:
      - master
    tags:
      - "*"
jobs:
  build:
    runs-on: macOS-latest

    strategy:
      matrix:
        node: ["13"]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        run: yarn
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn dist
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Package Artifacts
        run: |
          mkdir artifact-dmg
          mv dist_electron/*.dmg artifact-dmg/
          mkdir artifact-zip
          mv dist_electron/*.zip artifact-zip/

      - uses: actions/upload-artifact@master
        name: Upload DMG
        with:
          name: WeakAuras-Companion-CI-Node${{ matrix.node }} DMG
          path: artifact-dmg

      - uses: actions/upload-artifact@master
        name: Upload ZIP
        with:
          name: WeakAuras-Companion-CI-Node${{ matrix.node }} ZIP
          path: artifact-zip
