name: macOS Build
on:
  push:
    branches:
      - main
    tags:
      - "*"
jobs:
  build:
    runs-on: macos-12

    strategy:
      matrix:
        node: ["18"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm install
      - run: npm i -D dmg-license

      - name: Lint
        run: npm run lint

      - name: Rebuild
        run: npm rebuild node-sass
        
      - name: Sharp Multiarch Rebuild
        run: npm install --platform=darwin --arch=x64 sharp && npm rebuild --platform=darwin --arch=arm64 sharp

      - name: Build
        run: npm run dist
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - uses: actions/upload-artifact@v3
        name: Upload DMG
        with:
          name: WeakAuras-Companion-CI-dmg
          path: release/**/*-mac-universal.dmg

      - uses: actions/upload-artifact@v3
        name: Upload ZIP
        with:
          name: WeakAuras-Companion-CI-zip
          path: release/**/*-mac-universal.zip
