name: Windows Build
on: pull_request

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node: ["15"]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2.4.0
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm install

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run dist

      - uses: actions/upload-artifact@v2
        name: Upload Installer
        with:
          name: WeakAuras-Companion-PRCI-Installer
          path: dist/*.exe
