name: Windows Build
on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request: 
jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node: ["18"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm install

      - name: Lint
        run: npm run lint

      - name: Build
        if: github.ref == 'refs/heads/main'
        run: npm run build
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build
        if: github.ref != 'refs/heads/main'
        run: npm run build --publish=never
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - uses: actions/upload-artifact@v3
        name: Upload Installer
        with:
          name: WeakAuras-Companion-CI-Installer
          path: release/**/*Setup*.exe
