/* Toasts */
$vt-toast-background: rgba(29, 29, 29, 0.97) !default;
$vt-color-default: rgba(29, 29, 29, 0.97) !default;
$vt-text-color-default: #e6e6e6 !default;
$icon-default-color: #51ae42 !default;
$vt-color-error: #f44336 !default;
$vt-color-info: #0b96e6 !default;
$icon-size: 26px;

.toasted-container.bottom-right {
  right: 2.35vw;
  margin-left: 2.35vw;
  bottom: 70px;

  .toasted-primary {
    padding: 0;
    font-weight: 500;
    text-align: left;
    justify-content: left;
    margin-left: auto;

    &::before {
      margin: 0 10px;
      display: inline-block;
    }

    &.default {
      // Default Toast
      background-color: $vt-toast-background;
      color: $vt-text-color-default;
      font-weight: 500;

      &::before {
        content: "";
        width: 22px;
        height: 22px;
        background: url("/assets/wow-logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.error {
      // Error Toast
      background-color: $vt-toast-background;
      color: $vt-text-color-default;

      &::before {
        content: "\e001";
        font-family: "Material Icons";
        font-size: $icon-size;
        color: $vt-color-error;
        margin: 0 8px;
      }
    }

    &.update {
      // Update Toast
      background-color: $vt-toast-background;
      color: $vt-text-color-default;

      &::before {
        content: "\e8d7";
        font-family: "Material Icons";
        font-size: $icon-size;
        background: none;
        width: auto;
        height: auto;
        color: $icon-default-color;
      }

      &.update-error::before {
        color: $vt-color-error;
      }
    }

    &.multiline {
      padding: 5px 0;
    }

    &.info {
      padding: 0;
      background-color: $vt-toast-background;

      &::before {
        content: "\e88f";
        font-family: "Material Icons";
        font-size: $icon-size;
        background: none;
        width: auto;
        height: auto;
        color: $vt-color-info;
        margin: 0 8px;
      }
    }

    .action {
      color: #e6e6e6;
      text-decoration: none;
      padding: 0 20px;
      line-height: 38px;
      border-radius: 0;
      margin: 0;
      margin-left: auto;
      justify-content: right;

      &:last-of-type:not(:only-of-type) {
        padding-right: 20px;
        border-left: none;
        font-weight: 500;
        padding-left: 0;
        margin-left: 0;

        &::before {
          content: unset;
        }
      }

      &:hover {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
      }

      &::before {
        content: "";
        position: relative;
        top: 7px;
        font-size: 31px;
        line-height: 0;
        width: 15px;
        border-right: 1px solid #383838;
        height: 30px;
        margin-right: 20px;
      }
    }

    .small-text {
      font-size: 11px;
      width: 100%;
      display: block;
    }
  }
}
